<div class="row mt-1">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6>PDF & XML Outputs</h6>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Output Type</th>
                <th scope="col">Version</th>
                <th scope="col">File Name</th>
                <th scope="col">Answers Path</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let file of pdfXMLOutputs">
                <td>{{file.OutputType}}</td>
                <td>{{file.Version}}</td>
                <td>{{file.FileName}}</td>
                <td>{{file.AnswersPath}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" type="submit">Export</button>&nbsp;
        <button class="btn btn-primary" type="submit">Remove</button>
      </div>
    </div>
  </div>
</div>
